<section class="about" id="about-us">
  <div class="container about__container">
   <div class="about__text"> 
    <h2 class="about__title">Про Меблерію</h2>
    <p class="about__description">
       У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний інтер'єр починається з правильних меблів.
    </p>
   </div>
    <div class="about__image-wrapper">
<img
  src="./img/about-team.jpg"
  srcset="./img/about-team@2x.png 2x"
  alt="Команда Меблерії працює разом"
  class="about__image"
/>

    </div>
  </div>
</section>
