<section class="our-furniture" id="our-furniture">
  <div class="our-furniture-container">
    <h2 class="our-furniture-title">Наші меблі</h2>
    <p class="our-furniture-subtitle">
      Знайдіть ідеальні рішення для вашого інтер'єру
    </p>
    <ul class="our-furniture-categories"></ul>
    <div class="loader-wrapper" id="loaderProductList">
      <span class="loader"></span>
    </div>
    <ul class="our-furniture-product-list"></ul>
    <div class="loader-wrapper" id="loaderShowMore">
      <span class="loader"></span>
    </div>
    <button class="our-furniture-show-more-btn" type="button">
      Показати ще
    </button>
  </div>
</section>
