 <section class="hero">
    <div class="bg"></div> 
    <img src="./img/hero-img/hero1x.avif" alt="Hero background" class="hero-img">
    <div class="hero-container">
    <div class="hero-content">
    <h1 class="hero-title">Створіть свій ідеальний дім</h1>
    <p class="hero-sub-title">Відкрийте для себе колекцію стильних та комфортних меблів, які перетворять ваш простір. Наша продукція поєднує в собі елегантність та функціональність.</p>
    <a href="#feedback" class="hero-btn">Що про нас думають</a>
    </div>
    </div>
    </section>
    <script type="module" src="./js/hero.js"></script>
 
