<section class="modal-contant">
  <div class="wrapper-big-img">
    <div class="container-img-first">
      <img class="img-first" src="" alt="sofa" />
    </div>

    <div class="wrapper-small-img">
      <div class="container-img-second">
        <img class="img-second" src="" alt="sofa" />
      </div>
      <div class="container-img-third">
        <img class="img-third" src="" alt="sofa" />
      </div>
    </div>
  </div>
  <div>
    <h3 class="modal-contant-title"></h3>
    <p class="modal-contant-text modal-category"></p>
    <p class="modal-contant-text price"></p>
    <div class="stars star-rating" data-score=""></div>
    <p class="modal-contant-text color"></p>
    <div class="wrapper-checkbox"></div>
    <p class="modal-contant-text description description-modal"></p>
    <p class="modal-contant-text dimensions dimensions-modal"></p>
    <button class="modal-contant-button" type="button">
      Перейти до замовлення
    </button>
  </div>
</section>
