<section class="order-modal">
    <div class="form-container">

        <button class="close-button" type="button" aria-label="Close modal">
            <svg width="32" height="32" viewBox="0 0 24 24">
                <use href="./img/icon.svg#icon-icon"></use>
            </svg>
        </button>

        <h2 class="order-modal-title">Замовити</h2>

        <form id="orderForm">

            <div class="form-group">
                <label for="userName">Ім'я*</label>
                <input type="text" id="userName" name="name" placeholder="Дмитро" required>
            </div>

            <div class="form-group">
                <label for="userPhone">Телефон*</label>
                <input type="tel" id="userPhone" name="phone" placeholder="38 099 123 22 11" required>
            </div>

            <div class="form-group">
                <label for="userComment">Коментар</label>
                <textarea id="userComment" name="comment" placeholder="Введіть ваш коментар"></textarea>
            </div>

            <button type="submit" class="submit-btn">Надіслати заявку</button>

        </form>
    </div>
</section>
