* {
  box-sizing: border-box;
}

.footer {
  background-color: #6b0609;
  color: #fff;
  text-align: center;
  padding: 0px 20px 32px 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  max-width: 335px;
  margin: 0 auto;
  gap: 24px;
  padding: 0;
}

.footer-logo {
  order: 1;
  margin: 0;
}
.footer-nav {
  order: 2;
  margin: 0;
}
.footer-socials {
  order: 3;
}
.footer-copyright {
  order: 4;
}

.footer-logo {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.footer-logo-icon {
  display: block;
  width: 228px;
  height: auto;
  fill: var(--color-white);
}

.footer-logo:hover,
.footer-logo:focus {
  transform: scale(1.05);
  opacity: 0.9;
}

.footer-logo:active {
  transform: scale(0.95);
}

.footer-copyright {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  margin: 0;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.footer-link {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.footer-link:hover,
.footer-link:focus {
  color: #f3d1d1;
  transform: scale(1.05);
}
.footer-link:active {
  transform: scale(0.95);
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.footer-socials a:hover .footer-icon,
.footer-socials a:focus .footer-icon {
  fill: #f3d1d1;
  transform: scale(1.1);
}
.footer-socials a:active .footer-icon {
  transform: scale(0.95);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 32px 32px 32px;
  }
  .footer-container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0;
  }

  .footer-link {
    font-size: 16px;
  }
  .footer-copyright {
    font-size: 14px;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 32px;
  }
  .footer-icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 0 64px;
  }
  .footer-container {
    max-width: 1312px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0;
  }
  .footer-logo-icon {
    max-height: 98px;
    width: auto;
  }

  .footer-logo {
    order: 1;
  }
  .footer-copyright {
    order: 2;
    text-align: right;
  }
  .footer-nav {
    order: 3;
  }
  .footer-socials {
    order: 4;
    justify-content: flex-end;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 24px;
  }
  .footer-icon {
    width: 28px;
    height: 28px;
  }
}
