.our-furniture-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 335px;
  margin: 0 auto 40px;
}

.our-furniture-category-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  padding: 32px 16px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  color: inherit;
  width: 100%;
  height: 100%;
  max-width: 160px;
  max-height: 122px;
  border: transparent;
}

.our-furniture-category-card.is-active {
  border: 8px solid #6b0609;
}

.our-furniture-category-card::before {
  z-index: 1;
}

.our-furniture-category-card-label {
  position: relative;
  z-index: 2;
  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  mix-blend-mode: normal;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

[data-category='66504a50a1b2c3d4e5f6a7b8'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/soft-furniture.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/soft-furniture.jpg') 1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/soft-furniture@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/soft-furniture.jpg') 1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/soft-furniture@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7b9'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/closets-and-storage.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/closets-and-storage.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/closets-and-storage@2x.jpg')
      2x / src
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/closets-and-storage.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/closets-and-storage@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7ba'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/beds-and-mattresses.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/beds-and-mattresses.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/beds-and-mattresses@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/beds-and-mattresses.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/beds-and-mattresses@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7bb'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/tables.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/tables.jpg') 1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/tables@2x.jpg') 2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/tables.jpg') 1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/tables@2x.jpg') 2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7bc'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/chairs-and-stools.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/chairs-and-stools.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/chairs-and-stools@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/chairs-and-stools.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/chairs-and-stools@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7bd'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/kitchens.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/kitchens.jpg') 1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/kitchens@2x.jpg') 2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/kitchens.jpg') 1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/kitchens@2x.jpg') 2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7be'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/childrens-furniture.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/childrens-furniture.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/childrens-furniture@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/childrens-furniture.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/childrens-furniture@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7bf'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/office-furniture.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/office-furniture.jpg') 1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/office-furniture@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/office-furniture.jpg') 1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/office-furniture@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7c0'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/entryway-furniture.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/entryway-furniture.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/entryway-furniture@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/entryway-furniture.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/entryway-furniture@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7c1'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/bathroom-furniture.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/bathroom-furniture.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/bathroom-furniture@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/bathroom-furniture.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/bathroom-furniture@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7c2'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/outdoor-furniture.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/outdoor-furniture.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/outdoor-furniture@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/outdoor-furniture.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/outdoor-furniture@2x.jpg')
      2x
  );
}

[data-category='66504a50a1b2c3d4e5f6a7c3'] {
  background-image: url('/nine-design-studio/src/img/our-furniture/1-x/decor-and-accessories.jpg');
  background-image: -webkit-image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/decor-and-accessories.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/decor-and-accessories@2x.jpg')
      2x
  );
  background-image: image-set(
    url('/nine-design-studio/src/img/our-furniture/1-x/decor-and-accessories.jpg')
      1x,
    url('/nine-design-studio/src/img/our-furniture/2-x/decor-and-accessories@2x.jpg')
      2x
  );
}

@media screen and (min-width: 768px) {
  .our-furniture-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 0 auto 40px;
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .our-furniture-categories {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 24px;
    max-width: 1312px;
    margin: 0 auto 40px;
  }
}


.our-furniture-category-card {
  background-size: cover;
  background-position: center;
}

/* Мʼякі меблі */
.our-furniture-category-card[data-category-name="М'які меблі"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/soft-furniture.jpg") 1x,
    url("../img/our-furniture/2-x/soft-furniture@2x.jpg") 2x
  );
}

/* Стільці та табурети */
.our-furniture-category-card[data-category-name="Стільці та табурети"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/chairs-and-stools.jpg") 1x,
    url("../img/our-furniture/2-x/chairs-and-stools@2x.jpg") 2x
  );
}

/* Шафи та системи зберігання */
.our-furniture-category-card[data-category-name="Шафи та системи зберігання"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/closets-and-storage.jpg") 1x,
    url("../img/our-furniture/2-x/closets-and-storage@2x.jpg") 2x
  );
}

/* Ліжка та матраци */
.our-furniture-category-card[data-category-name="Ліжка та матраци"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/beds-and-mattresses.jpg") 1x,
    url("../img/our-furniture/2-x/beds-and-mattresses@2x.jpg") 2x
  );
}

/* Столи */
.our-furniture-category-card[data-category-name="Столи"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/tables.jpg") 1x,
    url("../img/our-furniture/2-x/tables@2x.jpg") 2x
  );
}

/* Кухні */
.our-furniture-category-card[data-category-name="Кухні"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/kitchens.jpg") 1x,
    url("../img/our-furniture/2-x/kitchens@2x.JPG") 2x
  );
}

/* Меблі для дитячої */
.our-furniture-category-card[data-category-name="Меблі для дитячої"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/childrens-furniture.jpg") 1x,
    url("../img/our-furniture/2-x/childrens-furniture@2x.jpg") 2x
  );
}

/* Меблі для офісу */
.our-furniture-category-card[data-category-name="Меблі для офісу"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/office-furniture.jpg") 1x,
    url("../img/our-furniture/2-x/office-furniture@2x.jpg") 2x
  );
}

/* Меблі для передпокою */
.our-furniture-category-card[data-category-name="Меблі для передпокою"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/entryway-furniture.jpg") 1x,
    url("../img/our-furniture/2-x/entryway-furniture@2x.jpg") 2x
  );
}

/* Меблі для ванної кімнати */
.our-furniture-category-card[data-category-name="Меблі для ванної кімнати"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/bathroom-furniture.jpg") 1x,
    url("../img/our-furniture/2-x/bathroom-furniture@2x.jpg") 2x
  );
}

/* Садові та вуличні меблі */
.our-furniture-category-card[data-category-name="Садові та вуличні меблі"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/outdoor-furniture.jpg") 1x,
    url("../img/our-furniture/2-x/outdoor-furniture@2x.jpg") 2x
  );
}

/* Декор та аксесуари */
.our-furniture-category-card[data-category-name="Декор та аксесуари"] {
  background-image: image-set(
    url("../img/our-furniture/1-x/decor-and-accessories.jpg") 1x,
    url("../img/our-furniture/2-x/decor-and-accessories@2x.jpg") 2x
  );
}


