.our-furniture {
  background-color: #fff;
}

.our-furniture-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 48px 20px;
}

.our-furniture-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.our-furniture-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.our-furniture-product-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto 32px;
}

.our-furniture-card-image {
  width: 100%;
  height: 100%;
  max-width: 335px;
  max-height: 277px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.our-furniture-card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 8px;
}

.our-furniture-card-color-list {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.our-furniture-card-color {
  width: 24px;
  border-radius: 50%;
  height: 24px;
  border: 1px solid #202020;
}

.our-furniture-card-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.our-furniture-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  max-width: 335px;
  height: 46px;
  border: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.05);
}

.our-furniture-card-button:hover,
.our-furniture-card-button:focus {
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
    0px -2px 1px 0px rgba(0, 0, 0, 0.2) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset,
    0px 2px 1px 0px rgba(126, 78, 78, 0.25) inset,
    0px 32px 24px 0px rgba(255, 255, 255, 0.05) inset;
  outline: none;
  opacity: 0.5;
}

.our-furniture-category-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.35)
  );
  pointer-events: none;
  z-index: 1;
}

.our-furniture-products-list {
  margin-bottom: 32px;
}

.our-furniture-show-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 100px;
  border: transparent;
  padding: 10px 24px;
  width: 100%;
  max-width: 335px;
  height: 46px;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6b0609;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.our-furniture-show-more-btn:hover,
.our-furniture-show-more-btn:focus {
  background-color: #b85f62;
  color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
    0px -2px 1px 0px rgba(0, 0, 0, 0.2) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset,
    0px 2px 1px 0px rgba(126, 78, 78, 0.25) inset,
    0px 32px 24px 0px rgba(255, 255, 255, 0.05) inset;
  outline: none;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .our-furniture-container {
    padding: 48px 32px;
    max-width: 768px;
  }

  .our-furniture-product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 32px;
  }

  .our-furniture-show-more-btn {
    width: 340px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .our-furniture-container {
    padding: 80px 64px;
    max-width: 1440px;
  }

  .our-furniture-product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    row-gap: 40px;
    margin-bottom: 32px;
  }

  .our-furniture-show-more-btn {
    width: 421px;
    margin: 0 auto;
  }

  .our-furniture-show-more-btn.is-open {
    display: flex;
  }
}

.loader-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  min-height: 200px;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border: 2px solid #000000;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid #ff3d00;
  width: 38px;
  height: 38px;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 28px;
  height: 28px;
  border-color: #000000;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.our-furniture-product-list-card {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  /* padding: 16px; */
  box-sizing: border-box;
}
