/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'izitoast/dist/css/iziToast.min.css';
@import 'accordion-js/dist/accordion.min.css';
@import 'modern-normalize/modern-normalize.css';

/* Sections style */
@import url('./header.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./furniture-categories.css');
@import url('./furniture-list.css');
@import url('./about-us.css');
@import url('./faq-section.css');
@import url('./feedback.css');
@import url('./details-modal.css');
@import url('./order-modal.css');
